[submodule "Engine/Ext/imgui"]
	path = Engine/Ext/imgui
	url = https://github.com/BoomBac/imgui.git
[submodule "Engine/Ext/ImGuizmo"]
	path = Engine/Ext/ImGuizmo
	url = https://github.com/BoomBac/ImGuizmo.git
[submodule "Engine/Ext/implot"]
	path = Engine/Ext/implot
	url = https://github.com/BoomBac/implot.git
[submodule "Engine/Ext/tracy"]
	path = Engine/Ext/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Engine/Ext/sol2"]
	path = Engine/Ext/sol2
	url = https://github.com/ThePhD/sol2
[submodule "Engine/Ext/lua"]
	path = Engine/Ext/lua
	url = https://github.com/lua/lua
	branch = v5.4
[submodule "box2d"]
	path = Engine/Ext/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Engine/Ext/DirectXTex"]
	path = Engine/Ext/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
